---
layout: home
title: Budget
last_modified_date: 2022-06-01
description: Sheet tracking funds committed to the Wikibase Stakeholder Group's mission
nav_order: 3

---

<h1>Budget</h1>

<p>This sheet is used to track funds committed to the Wikibase Stakeholder Group's mission, and how these funds are spent. Though Rhizome may often act as this initiative’s cost center, other institutions may hold and dispense funds pursuant to their spending policies.</p>

<hr>

<table class="budget">
    <thead>
        <tr>
            <th class="date">Date</th>
            <th class="position">Position</th>
            <th class="USD">Rhizome <small>in USD</small></th>
            <!--
            <th>NFDI<br><small>in EUR</small></th>
            <th>Restriction</th>
            -->
        </tr>
    </thead>
    <tbody>
        {% for line in site.data.budget.WBSG_Budget %}
        {% if lineDate or line.Position %}
            <tr>
                {% if forloop.index == 1 %}
                <td colspan="2" class="balance">{{ line.Position }}</td>
                {% else %}
                    <td class="date">{{ line.Date }}</td>
                    
                    <td>{{ line.Position }}</td> 
                {% endif %}
                
                {% if line['Rhizome (in USD)'] %}
                    {% capture sum %}{{ line['Rhizome (in USD)'] }}{% endcapture %}
                    <td class="sum">{% include numf.html number=sum ds='.' ts=',' %}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <!--
                {% if line['NFDI (in EUR)'] %}
                    {% capture sum %}{{ line['NFDI (in EUR)'] }}{% endcapture %}
                    <td class="sum">{% include numf.html number=sum ds='.' ts=',' %}</td>
                {% else %}
                    <td></td>
                {% endif %}
                
                <td>{{ line.Restriction }}</td>
                -->
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<p><small><a href="https://github.com/Wikibase-Stakeholder-Group/Budget">Data source</a></small></p>
