.site-header, .main-header {
  height: 110px;
  max-height: initial;
}

.side-bar {
  background: none;
}

.main-content ol > li ol li::before {
  content: counter(sub-counter,decimal);
}

code {
  font-size: 0.85em
}

$link-color: $blue-100;
$btn-primary-color: $blue-100;